body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #home {
      padding: 12px 2px 12px 2px;
  }
  
  .container{
      display:grid;
      width: 100vw;
      height: 90vh;
  }
  
  .navbar{
      position: relative; 
      /* z-index: 10; */
      display: inline-block;
      /* flex-direction: row; */
      background-image: linear-gradient(to right, white, black);
      width: 100vw; 
      height: 10vh;    
}
  
  .tab{
      color: black;
      background-color: white;
      opacity: 0.6;
      float: left;
      width: 10vw;
      padding: 1vh 1vw 1vh 1vw;
      margin: 0px 1vw 0px 1vw;
      text-align: center;
  }
  
  .tab:hover{
      opacity:1
  }
  
  .controls{
      grid-row: 1;
      grid-column: 1;
      display: grid;
      width: 20vw;    
      height: auto;
      overflow-y: auto;
  }
  
  .dials{
      background-color: grey;
  }
  
  .signal_container{
      color: white;
      background-color: black; 
      opacity: 0.6;
      display: grid;
      grid-template-columns: auto auto auto auto;
      height: auto;
      width: auto;
      padding: 5px;
      margin: 6px 6px 0 6px;
      text-align: center;
  }
  
  .signal_container:hover{
      opacity:1;
  }
  
  .signal_info{
      grid-column: 1 / 2;
      grid-row: 1/5;
      padding: 0 5px 0 0 ;
  }
  
  .signal_props{
      grid-column: 2 / 3;
  }
  
  .signal_dials{
      grid-column: 3 / 4;
  }
  
  .timePlots{
    width: 40vw;
    height: 90vh;
    grid-row: 1;
    grid-column: 2;
  }

  .sinePlots{
      background-color: beige;
      width: 40vw;
      height: 45vh;
      overflow-y: auto;
      grid-row: 1 ;
      grid-column: 1;
  }

  .otherPlots{
    width: 40vw ;
    height: 90vh;
    /* overflow-y: auto; */
    grid-row: 1 / 1;
    grid-column: 3;
  }
  
  .fourierMagPlots{
      background-color: whitesmoke;
      grid-row: 1;
  }
  
  .fourierPhasePlots{
      background-color: whitesmoke;
      grid-row: 2;
  }
  
  .sumPlots{
      background-color: wheat;
      grid-row: 2;
  }
  
  